.background {
  height: 100vh;
  width: 100vw;
  background-image: url('../../public/beautiful-shining-stars-night-sky.jpg');
  background-size: cover;
  background-position: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
